@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.topBanner {
  width: 100%;
  height: 100vh;
  background-image: url("../images/princ_banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.topMenu {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.topLogo {
  width: 50%;
  height: 100%;
  float: left;
}
#logoMenu {
  margin-top: 15px;
  margin-left: 35%;
}
.menuItens {
  width: 50%;
  height: 100%;
  float: left;
}
.menuItens ul {
  list-style: none;
  margin-left: 7%;
}
.menuItens ul li {
  color: #fff;
  display: inline-block;
  line-height: 75px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding-right: 60px;
}
.titleInfo {
  width: 696px;
  height: 136px;
  position: relative;
  left: 90%;
  top: 20%;
  text-align: right;
}
.titleInfo span {
  font-family: "Popins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 135%;
  letter-spacing: 0.1em;
  color: #221e1f;
}
.titleDesc {
  position: absolute;
  width: 465px;
  height: 84px;
  left: 1132px;
  top: 355px;
  text-align: right;
}
.titleDesc span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 165%;
  text-align: right;
  color: #4f4e4e;
}
