@media screen and (max-width: 1532px) {
  #logoMenu {
    margin-left: 25%;
  }
  .menuItens ul {
    margin-left: 5%;
  }
  .menuItens ul li {
    font-size: 18px;
  }
  .titleInfo {
    width: 596px;
    left: 701px;
  }
  .titleInfo span {
    font-size: 40px;
  }
  .titleDesc {
    width: 365px;
    left: 932px;
  }
}

@media screen and (max-width: 768px) {
  .topBanner {
    width: 100%;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    background-position-x: -280px;
  }
  .topMenu {
    display: none;
  }
  .titleInfo {
    width: 320px;
    height: 150px;
    left: 14%;
    top: 50px;
  }
  .titleInfo span {
    font-size: 23px;
    text-align: right;
  }
  .titleDesc {
    width: 280px;
    height: 80px;
    left: 80px;
    top: 120px;
  }
  .titleDesc span {
    font-size: 12px;
  }
}
