.header {
  position: relative;
  z-index: 1;
  background-color: $dark;

  // logo
  &__logo {
    width: 10%;

    img {
      width: 200px;
      height: 100%;
      margin-top: 4%;
    }
  }

  // Menu Hamburger

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient($dark, transparent);
  }

  nav {
    position: relative;
    padding-top: 1.0625rem;
    padding-bottom: 1.8rem;
  }

  &__toggle {
    // Menu Mobile hamburger

    //direct child
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 1rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;

    a {
      text-decoration: none;
      display: block;
      color: $dark;
      padding: 0.625rem;
      text-align: center;

      &:hover {
        background: $redBanner;
        border-radius: 10px;
        color: $white;
      }
    }
  }

  &__links {
    a {
      text-decoration: none;
      position: relative;
      font-size: $font-sm;
      color: $white;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: $redBanner;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $redBanner;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  @include breakpoint-up(large) {
    .button {
      position: relative;
      padding: 10px 25px;
      display: block;
      text-decoration: none;
      overflow: hidden;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      font-size: $font-sm;
    }
  }
}
