.hero {
  background: none;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  .container_hide {
    display: none;
  }

  .first {
    position: relative;
    background-image: url("/assets/Banner/ate1.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 15rem;

    @include breakpoint-up(medium) {
      min-height: 28rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 55rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/assets/Banner/ate1.png");
        background-repeat: no-repeat;
        background-position: center top;
        width: 100%;
        background-size: 100%;
      }
    }
  }

  .second {
    position: relative;
    background-image: url(/public/img/presentationBG.jpg);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 8rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 35rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url(/public/img/presentationBG.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 66.7%;
        background-position: 0% 60%;
      }
    }
  }

  .third {
    position: relative;
    background-image: url(/public/img/aboutBG.jpg);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 8rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 0%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 35rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url(/public/img/aboutBG.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 66.7%;
        background-position: 0% 60%;
      }
    }
  }
}
