.services {
  width: 100%;
  background-color: #fff;
  overflow: auto;

  @include breakpoint-up(medium) {
    padding: 50px 100px;
  }

  @include breakpoint-up(large) {
    height: 100vh;
  }

  &__box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    // width: 75%;
    // height: 70%;
    // margin: auto;
    // margin-top: 7.5%;
    // overflow: hidden;
  }

  &__intro {
    width: 100%;

    @include breakpoint-up(large) {
      width: 52%;
      margin-bottom: 150px;
    }

    // width: 50%;
    // height: 200px;
    // float: left;

    .title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 149%;
      color: #7c161b;
    }

    .description {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #221e1f;
      opacity: 0.8;
    }
  }

  &__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    @include breakpoint-up(large) {
      flex-direction: row;
    }

    // height: calc(100% - 255px);
    // margin-top: 250px;
    // display: flex;
    // flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    margin: 0 auto;

    // width: 30%;
    // height: 100%;
    // margin: auto;

    &.one {
      padding-left: 100px;
      background-image: url("../assets/icons/food-icon.svg");
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: -3% 0%;
      text-align: right;

      @include breakpoint-up(large) {
        background-size: 200px;
        background-position: top;
        padding: 0;
        text-align: center;
      }
    }

    &.two {
      margin-top: 50px;
      padding-right: 100px;
      background-image: url("../assets/icons/eletronic-icon.svg");
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: 100% 0%;

      @include breakpoint-up(large) {
        margin-top: 0;
        background-size: 200px;
        background-position: top;
        padding: 0;
        text-align: center;
      }
    }

    &.three {
      margin-top: 50px;
      padding-left: 100px;
      background-image: url("../assets/icons/wheat-icon.svg");
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: -3% 0%;
      text-align: right;

      @include breakpoint-up(large) {
        margin-top: 0;
        background-size: 180px;
        background-position: top;
        padding: 0;
        text-align: center;
      }
    }

    &__content {
      width: 100%;

      @include breakpoint-up(large) {
        padding: 0px 20px;
        padding-top: 280px;
      }

      // width: 100%;
      // height: 170px;
      // margin-top: 250px;
      // text-align: center;

      .title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 149%;
        color: #7c161b;
      }

      .description {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #4f4e4e;
      }
    }
  }
}
