// Colors
$dark: rgba(35, 37, 38, 1);
$darker: #353535cf;
$gradient1: #8093ff 0%;
$gradient2: #7d9bfa 21.14%;
$gradient3: #60dbd4 78.8%;
$gradient4: #5ce4cf 100%;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
