// Colors
$dark: #221e1f;
$darker: #353535cf;
$gradient1: #8093ff 0%;
$gradient2: #7d9bfa 21.14%;
$gradient3: #60dbd4 78.8%;
$gradient4: #5ce4cf 100%;
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Site colors
$redBanner: #9e1b21;
$redLogo: #7c161b;
$darkNavFade: rgba(0, 0, 0, 0.7);
$darkText: #221e1f;
$dark-light: #4f4e4e;

// Font Sizes
$font-sm: 17px;
$font-med: 30px;
$font-lg: 50px;
$font-xlg: 3.25rem;
