.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: white;
  line-height: 1.3;
  min-height: 200vh;
  overflow-x: hidden;
  background-color: #221e1f;
}

@media (min-width: 68.75em) {
  body {
    font-size: 30px;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  font-size: 2.3125rem;
  line-height: 1.15;
  color: white;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 68.75em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 30px;
  margin-bottom: 1.5625rem;
}

@media (min-width: 68.75em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 105.375rem;
  margin: 0 auto;
}

.container--banner {
  max-width: 115.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 5.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 0.875rem;
}

@media (min-width: 68.75em) {
  .container--pall {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 68.75em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 68.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  background-color: #221e1f;
}

.header__logo {
  width: 10%;
}

.header__logo img {
  width: 200px;
  height: 100%;
  margin-top: 4%;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#221e1f), to(transparent));
  background-image: linear-gradient(#221e1f, transparent);
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.8rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 1rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  text-decoration: none;
  display: block;
  color: #221e1f;
  padding: 0.625rem;
  text-align: center;
}

.header__menu a:hover {
  background: #9e1b21;
  border-radius: 10px;
  color: white;
}

.header__links a {
  text-decoration: none;
  position: relative;
  font-size: 17px;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 20px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: #9e1b21;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #9e1b21;
}

.header__links a:hover::before {
  opacity: 1;
}

@media (min-width: 68.75em) {
  .header .button {
    height: 40px;
    position: relative;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #9e1b21;
    font-size: 17px;
  }
}

.hero {
  background: none;
  position: relative;
}

@media (min-width: 68.75em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .hidden {
  display: none;
}

.hero .animationIn {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero .first {
  position: relative;
  background-image: url("/assets/Banner/arte1.png");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 15rem;
}

@media (min-width: 40em) {
  .hero .first {
    min-height: 28rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .first {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 55rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .first::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/Banner/arte1.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
  }
}

.hero .second {
  position: relative;
  background-image: url("/assets/Banner/arte2.png");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 15rem;
}

@media (min-width: 40em) {
  .hero .second {
    min-height: 28rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .second {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 55rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .second::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/Banner/arte2.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
  }
}

.hero .third {
  position: relative;
  background-image: url("/assets/Banner/arte3.png");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 15rem;
}

@media (min-width: 40em) {
  .hero .third {
    min-height: 28rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .third {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 55rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .third::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/Banner/arte3.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
  }
}

.hero__icons {
  position: relative;
  width: 100%;
  height: 80px;
}

@media (min-width: 68.75em) {
  .hero__icons {
    position: absolute;
  }
}

.hero__icons img {
  position: absolute;
}

.hero__icons img.instagram {
  top: -12%;
  left: 60%;
  width: 95px;
}

@media (min-width: 40em) {
  .hero__icons img.instagram {
    top: -50%;
    left: 65%;
    width: 155px;
  }
}

@media (min-width: 68.75em) {
  .hero__icons img.instagram {
    top: -258%;
    left: 78%;
    width: 175px;
  }
}

@media (min-width: 91em) {
  .hero__icons img.instagram {
    top: -160%;
    left: 81%;
    width: 175px;
  }
}

.hero__icons img.whatsapp {
  top: 0;
  left: 85%;
  width: 40px;
}

@media (min-width: 40em) {
  .hero__icons img.whatsapp {
    top: -30%;
    left: 85%;
    width: 70px;
  }
}

@media (min-width: 68.75em) {
  .hero__icons img.whatsapp {
    top: -235%;
    left: 90%;
    width: 75px;
  }
}

@media (min-width: 91em) {
  .hero__icons img.whatsapp {
    top: -140%;
    left: 90%;
    width: 75px;
  }
}

.about {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-bottom: 50px;
}

@media (min-width: 68.75em) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 40em) {
  .about__title {
    padding: 20px;
  }
}

@media (min-width: 68.75em) {
  .about__title {
    padding: 0px;
  }
}

.about__title p,
.about__title span {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  /* or 68px */
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #221e1f;
}

@media (min-width: 40em) {
  .about__title p,
  .about__title span {
    font-size: 50px;
    text-align: left;
  }
}

.about__description {
  width: 60%;
  height: 100%;
  float: left;
}

.about .aboutfeat {
  text-align: center;
  width: 100%;
  margin: 0;
}

@media (min-width: 40em) {
  .about .aboutfeat {
    text-align: left;
  }
}

.about .aboutfeat__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
    gap: 0rem;
    justify-items: center;
  }
}

.about .aboutfeat__item {
  position: relative;
  width: 250px;
  padding: 2rem;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__item {
    padding-left: 45%;
    width: 100%;
  }
}

.about .aboutfeat__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__icon {
    position: absolute;
    left: 7%;
  }
}

.about .aboutfeat__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #221e1f;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.about .aboutfeat__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #4f4e4e;
}

.aboutBanner {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #221e1f;
}

.aboutBanner__box {
  width: 100%;
  background-image: url("../assets/images/line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 68.75em) {
  .aboutBanner__box {
    background-size: 50%;
  }
}

.aboutBanner__box__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 165px;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons {
    height: 370px;
  }
}

@media (min-width: 68.75em) {
  .aboutBanner__box__icons {
    width: 55%;
  }
}

.aboutBanner__box__icons span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  position: relative;
  top: 100%;
}

.aboutBanner__box__icons span.one {
  margin-right: 20px;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons span.one {
    margin-left: 17%;
    font-size: 30px;
  }
}

@media (min-width: 40em) {
  .aboutBanner__box__icons span.two {
    font-size: 30px;
    left: 20%;
  }
}

.aboutBanner__box__icons span.three {
  margin-left: 20px;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons span.three {
    font-size: 30px;
    left: 35%;
  }
}

.aboutBanner__box__icons div:nth-child(1) {
  width: 100%;
  margin-left: 7%;
  background-image: url("../assets/icons/picki-icon.svg");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 60% 40%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons div:nth-child(1) {
    background-size: 70%;
  }
}

.aboutBanner__box__icons div:nth-child(1):hover {
  background-image: url("../assets/icons/picka-icon.svg");
  color: #fff;
}

.aboutBanner__box__icons div:nth-child(1):hover span {
  opacity: 1;
}

.aboutBanner__box__icons div:nth-child(2) {
  width: 100%;
  background-image: url("../assets/icons/transa-icon.svg");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 75% 50%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons div:nth-child(2) {
    background-size: 80%;
    background-position: 100% 50%;
  }
}

.aboutBanner__box__icons div:nth-child(2):hover {
  background-image: url("../assets/icons/transi-icon.svg");
}

.aboutBanner__box__icons div:nth-child(2):hover span {
  opacity: 1;
}

.aboutBanner__box__icons div:nth-child(3) {
  width: 100%;
  margin-right: 10%;
  background-image: url("../assets/icons/sendi-icon.svg");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 90% 50%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media (min-width: 40em) {
  .aboutBanner__box__icons div:nth-child(3) {
    background-size: 70%;
    background-position: 100% 50%;
  }
}

.aboutBanner__box__icons div:nth-child(3):hover {
  background-image: url("../assets/icons/senda-icon.svg");
}

.aboutBanner__box__icons div:nth-child(3):hover span {
  opacity: 1;
}

.aboutBanner__info {
  margin-top: 200px;
  padding: 0px 20px;
}

@media (min-width: 40em) {
  .aboutBanner__info {
    padding: 0 25%;
  }
}

.aboutBanner__info span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 149%;
  color: #ffffff;
  padding-left: 10px;
}

@media (min-width: 40em) {
  .aboutBanner__info span {
    font-size: 30px;
  }
}

.aboutBanner__info p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #b0aeae;
  padding-left: 10px;
  text-align: justify;
}

.contact {
  width: 100%;
  height: 80vh;
  background-color: #221e1f;
}

@media (min-width: 40em) {
  .contact {
    padding: 0 15%;
    margin-top: 100px;
    height: 60vh;
  }
}

@media (min-width: 68.75em) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10%;
  }
}

.contact__title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 68.75em) {
  .contact__title {
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
  }
}

.contact__title span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #ffffff;
}

@media (min-width: 40em) {
  .contact__title span {
    font-size: 30px;
  }
}

.contact__form {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 68.75em) {
  .contact__form {
    width: 50%;
    height: 100%;
    float: left;
  }
}

.contact__form .divInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form .divInput input {
  width: 48%;
  height: 40px;
  background-color: #221e1f;
  border: 1px solid #fff;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
}

.contact__form .divInput input:focus {
  opacity: 1;
  outline: none;
}

.contact__form input[type="email"] {
  width: 100%;
  height: 40px;
  background-color: #221e1f;
  border: 1px solid #fff;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
}

.contact__form input[type="email"]:focus {
  opacity: 1;
  outline: none;
}

.contact__form textarea {
  width: 100%;
  height: 200px;
  background-color: #221e1f;
  border: 1px solid #fff;
  padding-left: 10px;
  resize: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.contact__form textarea:focus {
  opacity: 1;
  outline: none;
}

.contact__form input[type="submit"] {
  width: 100%;
  height: 50px;
  border: none;
  background: #9e1b21;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}

.services {
  width: 100%;
  background-color: #fff;
  overflow: auto;
}

@media (min-width: 40em) {
  .services {
    padding: 50px 100px;
  }
}

@media (min-width: 68.75em) {
  .services {
    height: 100vh;
  }
}

.services__box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.services__intro {
  width: 100%;
}

@media (min-width: 68.75em) {
  .services__intro {
    width: 52%;
    margin-bottom: 150px;
  }
}

.services__intro .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 149%;
  color: #7c161b;
}

.services__intro .description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #221e1f;
  opacity: 0.8;
}

.services__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (min-width: 68.75em) {
  .services__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__item {
  width: 100%;
  margin: 0 auto;
}

.services__item.one {
  padding-left: 100px;
  background-image: url("../assets/icons/food-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: -3% 0%;
  text-align: right;
}

@media (min-width: 68.75em) {
  .services__item.one {
    background-size: 200px;
    background-position: top;
    padding: 0;
    text-align: center;
  }
}

.services__item.two {
  margin-top: 50px;
  padding-right: 100px;
  background-image: url("../assets/icons/eletronic-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 100% 0%;
}

@media (min-width: 68.75em) {
  .services__item.two {
    margin-top: 0;
    background-size: 200px;
    background-position: top;
    padding: 0;
    text-align: center;
  }
}

.services__item.three {
  margin-top: 50px;
  padding-left: 100px;
  background-image: url("../assets/icons/wheat-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: -3% 0%;
  text-align: right;
}

@media (min-width: 68.75em) {
  .services__item.three {
    margin-top: 0;
    background-size: 180px;
    background-position: top;
    padding: 0;
    text-align: center;
  }
}

.services__item__content {
  width: 100%;
}

@media (min-width: 68.75em) {
  .services__item__content {
    padding: 0px 20px;
    padding-top: 280px;
  }
}

.services__item__content .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 149%;
  color: #7c161b;
}

.services__item__content .description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #4f4e4e;
}
/*# sourceMappingURL=style.css.map */