.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: white;
  line-height: 1.3;
  min-height: 200vh;
  overflow-x: hidden;
  background-color: #221e1f;
}

@media (min-width: 68.75em) {
  body {
    font-size: 30px;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  font-size: 2.3125rem;
  line-height: 1.15;
  color: white;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 68.75em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 30px;
  margin-bottom: 1.5625rem;
}

@media (min-width: 68.75em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
}

a,
a:visited {
  color: white;
}

a:hover {
  color: #99a9ff;
}

.container {
  max-width: 105.375rem;
  margin: 0 auto;
}

.container--banner {
  max-width: 115.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 5.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 0.875rem;
}

@media (min-width: 68.75em) {
  .container--pall {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 68.75em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoMonkey {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 68.75em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 68.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  background-color: #221e1f;
}

.header__logo {
  width: 10%;
}

.header__logo img {
  width: 200px;
  height: 100%;
  margin-top: 4%;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#221e1f), to(transparent));
  background-image: linear-gradient(#221e1f, transparent);
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.8rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 1rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  text-decoration: none;
  display: block;
  color: #221e1f;
  padding: 0.625rem;
  text-align: center;
}

.header__menu a:hover {
  background: #9e1b21;
  border-radius: 10px;
  color: white;
}

.header__links a {
  text-decoration: none;
  position: relative;
  font-size: 17px;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 20px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: #9e1b21;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #9e1b21;
}

.header__links a:hover::before {
  opacity: 1;
}

@media (min-width: 68.75em) {
  .header .button {
    position: relative;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
  }
}

.hero {
  background: none;
}

@media (min-width: 68.75em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .container_hide {
  display: none;
}

.hero .first {
  position: relative;
  background-image: url("/assets/Banner/ate1.png");
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 15rem;
}

@media (min-width: 40em) {
  .hero .first {
    min-height: 28rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .first {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 55rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .first::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/assets/Banner/ate1.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: 100%;
  }
}

.hero .second {
  position: relative;
  background-image: url(/public/img/presentationBG.jpg);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 8rem;
}

@media (min-width: 40em) {
  .hero .second {
    min-height: 25rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .second {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 35rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .second::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url(/public/img/presentationBG.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 66.7%;
    background-position: 0% 60%;
  }
}

.hero .third {
  position: relative;
  background-image: url(/public/img/aboutBG.jpg);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 8rem;
}

@media (min-width: 40em) {
  .hero .third {
    min-height: 25rem;
    background-position: center 0%;
  }
}

@media (min-width: 68.75em) {
  .hero .third {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 35rem;
    background-image: none;
  }
}

@media (min-width: 68.75em) {
  .hero .third::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url(/public/img/aboutBG.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 66.7%;
    background-position: 0% 60%;
  }
}

.about {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-bottom: 50px;
}

@media (min-width: 68.75em) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 68.75em) {
  .about__title {
    padding: 20px;
  }
}

.about__title p,
.about__title span {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  /* or 68px */
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #221e1f;
}

@media (min-width: 40em) {
  .about__title p,
  .about__title span {
    font-size: 50px;
    text-align: left;
  }
}

.about__description {
  width: 60%;
  height: 100%;
  float: left;
}

.about .aboutfeat {
  text-align: center;
  width: 100%;
  margin: 0;
}

@media (min-width: 40em) {
  .about .aboutfeat {
    text-align: left;
  }
}

.about .aboutfeat__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "item1 item2 " "item3 item4" "item5 item6";
    gap: 0rem;
    justify-items: center;
  }
}

.about .aboutfeat__item {
  position: relative;
  width: 250px;
  padding: 2rem;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__item {
    padding-left: 45%;
    width: 100%;
  }
}

.about .aboutfeat__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__icon {
    position: absolute;
    left: 7%;
  }
}

.about .aboutfeat__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #221e1f;
}

@media (min-width: 68.75em) {
  .about .aboutfeat__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.about .aboutfeat__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #4f4e4e;
}

.process {
  width: 100%;
  height: 100vh;
  background-color: #221e1f;
}

.marginTop {
  width: 100%;
  height: 150px;
}

.centerBox {
  width: 70%;
  height: 366px;
  margin-left: 15%;
  background-image: url("../images/line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.centerBoxMobile {
  display: none;
}

.infoIconBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.iconBox {
  height: 100%;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 250px;
}

.iconBox:nth-child(1) {
  width: 25%;
  margin-left: 10%;
  background-image: url("../icons/picki-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 130px;
  background-position-y: 130px;
}

.iconBox:nth-child(1):hover {
  background-image: url("../icons/picka-icon.svg");
  color: #fff;
  opacity: 1;
}

.iconBox:nth-child(2) {
  width: 30%;
  background-image: url("../icons/transa-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 130px;
  background-position-y: 130px;
}

.iconBox:nth-child(2):hover {
  background-image: url("../icons/transi-icon.svg");
  opacity: 1;
}

.iconBox:nth-child(3) {
  width: 25%;
  margin-right: 10%;
  background-image: url("../icons/sendi-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 135px;
}

.iconBox:nth-child(3):hover {
  background-image: url("../icons/senda-icon.svg");
  opacity: 1;
}

.mobileProcessInfo {
  display: none;
}

.processInfo {
  width: 25%;
  height: 165px;
  margin-top: 50px;
  margin-left: 20%;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.processInfo span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 149%;
  color: #ffffff;
  padding-left: 10px;
}

.processInfo p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #b0aeae;
  padding-left: 10px;
  text-align: justify;
}

.contact {
  width: 100%;
  height: 50vh;
  background-color: #221e1f;
  overflow: auto;
}

.contactTitle {
  width: 50%;
  height: 100%;
  float: left;
  text-align: justify;
}

.contactTitle span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  color: #ffffff;
}

.contactForm {
  width: 50%;
  height: 100%;
  float: left;
}

.divInput {
  width: 50%;
  height: 50px;
  float: left;
  margin-bottom: 20px;
}

.contactInput {
  width: 90%;
  height: 40px;
  background-color: #221e1f;
  border: 1px solid #fff;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
}

.contactInput:nth-child(3) {
  width: 95%;
}

.textareaInput {
  width: 95%;
  height: 200px;
  background-color: #221e1f;
  border: 1px solid #fff;
  padding-left: 10px;
  resize: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 10px;
  margin-bottom: 20px;
}

.contactButton {
  width: 97%;
  height: 40px;
  background: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #221e1f;
}

.offer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
}

.infoBox {
  width: 75%;
  height: 70%;
  margin: auto;
  margin-top: 7.5%;
  overflow: auto;
}

.infoText {
  width: 50%;
  height: 200px;
  float: left;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 149%;
  color: #7c161b;
}

.desc {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #221e1f;
  opacity: 0.8;
}

.offerIcons {
  width: 100%;
  height: calc(100% - 255px);
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offerItens {
  width: 30%;
  height: 100%;
  margin: auto;
}

.offerItens:nth-child(1) {
  background-image: url("../icons/food-icon.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.offerItens:nth-child(2) {
  background-image: url("../icons/eletronic-icon.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.offerItens:nth-child(3) {
  background-image: url("../icons/wheat-icon.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.itemText {
  width: 100%;
  height: 170px;
  margin-top: 250px;
  text-align: center;
}

.itemTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 149%;
  text-align: center;
  color: #7c161b;
}

.itemDesc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #4f4e4e;
}
/*# sourceMappingURL=style.css.map */